# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Build files
build/
dist/

# Logs
*.log